

<div {{ attributes.addClass('two-column row') }}>
  <div class="cover-region col-3">
    {{ content.cover }}
  </div>
  <div {{ region_attributes.main.addClass('main-region col-9') }}>
    {{ content.main }}
  </div>
</div>
